# Performance Profiling Settings
ROCPROFSYS_TRACE         = true
ROCPROFSYS_PROFILE       = true
ROCPROFSYS_USE_SAMPLING  = true
ROCPROFSYS_USE_ROCM      = true
ROCPROFSYS_USE_AMD_SMI   = true
ROCPROFSYS_USE_MPIP      = true
ROCPROFSYS_USE_MPIP      = true
ROCPROFSYS_USE_PID       = true

# AMD SMI Metrics
ROCPROFSYS_AMD_SMI_METRICS = mem_usage
#,xgmi,pcie
# ROCPROFSYS_SAMPLING_DELAY  = 1.5
ROCPROFSYS_SAMPLING_FREQ   = 300
ROCPROFSYS_SAMPLING_GPUS   = 0,1

# Core ROCm Domains to monitor
ROCPROFSYS_ROCM_DOMAINS  = hip_runtime_api, marker_api, kernel_dispatch, memory_copy, scratch_memory
